{% extends "base.html" %}
{% import 'bootstrap/wtf.html' as wtf %}
{% set active_page = "validate_file" %}

{% block app_content %}
    <h1 id="title">{{ title }}</h1>

    <form method="post" role="form" enctype="multipart/form-data" onsubmit="return checkForm(this)">
        {{ form.hidden_tag() }}
        {{ wtf.form_errors(form, hiddens="only") }}

        {{ wtf.form_field(form.data_file) }}

        <div class="form-group required">
            <label class="control-label" for="schema_files">{{ form.schema_files.label }}</label>
            <input id="schema_files" multiple="" name="schema_files" required="" type="file">
            <p class="help-block">{{ form.schema_files.description }}</p>
        </div>

        <label class="control-label" for="report_extension">Choose report type</label>
        {{ wtf.form_field(form.report_extension) }}
        <div class="row">
            <div class="col-md-6">
                <div class="row">
                    <div id="loading"></div>
                    <div>
                        <button type="submit" id="submit" onclick="loading()"
                                class="btn btn-primary">{{ title }}</button>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <a href="{{ url_for('validate_file') }}" id="reload" class="btn btn-warning pull-right">Reset form</a>
            </div>
        </div>
    </form>
{% endblock %}

{% block scripts %}
    {{ super() }}
    <script>
        function checkForm(form) {
            form.submit.disabled = true;
            return true;
        }
    </script>
    <script type="text/javascript">
        function loading() {
            $("#loading").show();
            {#$("#content").hide();#}
        }
    </script>
{% endblock %}