{% extends "base.html" %}
{% import 'bootstrap/wtf.html' as wtf %}
{% set active_page = "validate_sparql_endpoint" %}

{% block app_content %}
    <h1 id="title">{{ title }}</h1>
    <form method="post" role="form" enctype="multipart/form-data">
        {{ form.hidden_tag() }}
        {{ wtf.form_errors(form, hiddens="only") }}

        {{ wtf.form_field(form.endpoint_url) }}

        <div class="form-group required">
            <label class="control-label" for="schema_files">{{ form.schema_files.label }}</label>
            <input id="schema_files" multiple="" name="schema_files" required="" type="file">
            <p class="help-block">{{ form.schema_files.description }}</p>
        </div>

        {{ wtf.form_field(form.graphs) }}

        <label class="control-label" for="report_extension">Choose report type</label>
        {{ wtf.form_field(form.report_extension) }}
        <div class="row">
            <div class="col-md-6">
                <button type="submit" id="submit" class="btn btn-primary">{{ title }}</button>
            </div>
            <div class="col-md-6">
                <a href="{{ url_for('validate_sparql_endpoint') }}" id="reload" class="btn btn-warning pull-right">Reset
                    form</a>
            </div>
        </div>
    </form>
{% endblock %}